<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.Test1Mapper">
    
    <resultMap type="Test1" id="Test1Result">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="path"    column="path"    />
        <result property="status"    column="status"    />
        <result property="userId"    column="user_id"    />
        <result property="time"    column="time"    />
        <result property="codeId" column="code_id"/>
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTest1Vo">
        select test1.id, test1.name, test1.path, test1.user_id,
               test1.time, test1.remark ,test1.code_id,su.user_name as importUser,
                c.name as codeName
        from test1
        left join sys_user su on test1.user_id = su.user_id
        left join code c on c.id = test1.code_id
    </sql>

    <select id="selectTest1List" parameterType="Test1" resultMap="Test1Result">
        <include refid="selectTest1Vo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectTest1ById" parameterType="Long" resultMap="Test1Result">
        <include refid="selectTest1Vo"/>
        where test1.id = #{id}
    </select>
        
    <insert id="insertTest1" parameterType="Test1" useGeneratedKeys="true" keyProperty="id">
        insert into test1
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="path != null">path,</if>
            <if test="status != null">status,</if>
            <if test="userId != null">user_id,</if>
            <if test="time != null">time,</if>
            <if test="codeId!=null">code_id,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="path != null">#{path},</if>
            <if test="status != null">#{status},</if>
            <if test="userId != null">#{userId},</if>
            <if test="time != null">#{time},</if>
            <if test="codeId!=null">#{codeId},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTest1" parameterType="Test1">
        update test1
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="path != null">path = #{path},</if>
            <if test="status != null">status = #{status},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="time != null">time = #{time},</if>
            <if test="codeId!=null">code_id = #{codeId},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTest1ById" parameterType="Long">
        delete from test1 where id = #{id}
    </delete>

    <delete id="deleteTest1ByIds" parameterType="String">
        delete from test1 where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>