<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.ResultMapper">
    
    <resultMap type="Result" id="ResultResult">
        <id property="id"    column="id"    />
        <result property="codeId"    column="code_id"    />
        <result property="path"    column="path"    />
        <result property="userId"    column="user_id"    />
        <result property="time"    column="time"    />
        <result property="coverageRate"    column="coverage_rate"    />
        <result property="resultName"    column="result_name"    />
        <result property="conditions"    column="conditions"    />
        <result property="coverageData"    column="coverage_data"    />
    </resultMap>
    <resultMap id="AnalysisResult" type="AnalysisCoverage">
        <id property="id"    column="id"    />
        <result property="resultName"    column="result_name"    />
        <result property="time"    column="time"    />
        <result property="conditions"    column="conditions"    />
        <result property="coverageData"    column="coverage_data"    />
    </resultMap>
    <sql id="selectResultVo">
        select r.id, r.code_id, r.path, r.user_id, r.time, r.coverage_rate,
               result_name ,su.user_name as userName, c.name as codeName,c.version as codeVersion
        from result r
        left join sys_user su on r.user_id = su.user_id
        left join code c on c.id = r.code_id
    </sql>

    <select id="selectResultList" parameterType="Result" resultMap="ResultResult">
        <include refid="selectResultVo"/>
        <where>  
            <if test="codeId != null "> and code_id = #{codeId}</if>
            <if test="path != null  and path != ''"> and path = #{path}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="time != null  and time != ''"> and time = #{time}</if>
            <if test="params.beginCoverageRate != null and params.beginCoverageRate != '' and params.endCoverageRate != null and params.endCoverageRate != ''"> and coverage_rate between #{params.beginCoverageRate} and #{params.endCoverageRate}</if>
            <if test="resultName != null  and resultName != ''"> and result_name like concat('%', #{resultName}, '%')</if>
        </where>
    </select>
    <select id="selectResultByCodeId" parameterType="Long" resultMap="AnalysisResult">
        select conditions,coverage_data,result_name,time,id
        from result
        where code_id =#{id}
    </select>
    <select id="selectResultById" parameterType="Long" resultMap="ResultResult">
        <include refid="selectResultVo"/>
        where r.id = #{id}
    </select>


        
    <insert id="insertResult" parameterType="Result" keyProperty="id">
        insert into result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="codeId != null">code_id,</if>
            <if test="path != null">path,</if>
            <if test="userId != null">user_id,</if>
            <if test="time != null">time,</if>
            <if test="coverageRate != null">coverage_rate,</if>
            <if test="resultName != null">result_name,</if>
            <if test="conditions != null">conditions,</if>
            <if test="coverageData != null">coverage_data,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="codeId != null">#{codeId},</if>
            <if test="path != null">#{path},</if>
            <if test="userId != null">#{userId},</if>
            <if test="time != null">#{time},</if>
            <if test="coverageRate != null">#{coverageRate},</if>
            <if test="resultName != null">#{resultName},</if>
            <if test="conditions != null">#{conditions},</if>
            <if test="coverageData != null">#{coverageData},</if>
         </trim>
    </insert>

    <update id="updateResult" parameterType="Result">
        update result
        <trim prefix="SET" suffixOverrides=",">
            <if test="codeId != null">code_id = #{codeId},</if>
            <if test="path != null">path = #{path},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="time != null">time = #{time},</if>
            <if test="coverageRate != null">coverage_rate = #{coverageRate},</if>
            <if test="resultName != null">result_name = #{resultName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteResultById" parameterType="Long">
        delete from result where id = #{id}
    </delete>

    <delete id="deleteResultByIds" parameterType="String">
        delete from result where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>